<!Doctype html>
<head></head>
<body>
<h1>Welcome to CMS-Factory</h1>
  <hr>
<a href="/admin/login"> <div class="boxy"><h3>Login</h3></div></a>
<a href="#"><div class="boxy"><h3>Sign Up</h3></div></a>
</body>
