<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Trying to be a content management system factory. Currently is only a cms.">
    <meta name="author" content="Chris Carlson">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>CMS Factory Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/vendor/bootstrap/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>"

  <body>

    <div ng-controller="FormController" class="container">

      <form novalidate [(ng-model)]="signUpForm" ng-model-options=" {updateOn: 'blur' }" name="sign-up-form" class="form-signin">
        <h2 class="form-signin-heading">Create your CMS Factory Admin Account</h2>

        <label for="firstName" class="sr-only">First Name</label>
        <input type="text" ng-model="signUpForm" name="firstName" id="firstName" class="form-control" placeholder="Johnny" ng-minLength="3" ng-max-length="60" ng-required autofocus>

        <label for="lastName" class="sr-only">Last Name</label>
        <input type="text" [(ng-model)]="signUpForm" name="lastName" id="lastName" class="form-control" placeholder="Appleseed" ng-minLength="3" ng-max-length="60" ng-required >

        <label for="username" class="sr-only">User Name</label>
        <input type="text" [(ng-model)]="signUpForm" name="username" id="username" class="form-control" placeholder="JohnApple1" ng-minLength="3" ng-max-length="60" ng-required >

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" [(ng-model)]="signUpForm" name="email" id="inputEmail" class="form-control" placeholder="Email address" ng-required >

        <label for="inputPassword" class="sr-only">Password</label>
        <input [(ng-model)]="signUpForm" name="pw1"  type="password" id="inputPassword" class="form-control" placeholder="Password" ng-min-length="8" pattern="(^[#$%&{}\[\]\(\)\<\>\/\\\|=~\`])*[\w\d_\-*+?.,!%@^]{8,64}" ng-required>

        <label for="passConf" class="sr-only">Password Confirmation</label>
        <input type="password" id="passConf" class="form-control" placeholder="Password" ng-model-options="{ updateOn: 'default', debounce: 250 }" [(ng-model)]="signUpForm" name="pw2" ng-required>


        <div ng-submit="signUp" [(ng-model)]="signUpForm" name="submit" class="btn btn-lg btn-primary btn-block disabled" type="submit">Submit</div>
      </form>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/vendor/jquery-3.1.1.js"></script>
    <script src="../js/vendor/bootstrap/bootstrap.js"></script>
    <script src="../js/node_modules/angular/angular.js"></script>
    <script src="../js/node_modules/angular-resource/angular-resource.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../js/vendor/bootstrap/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
