<script type="application/json" id="displayFields" async>
  {
    "displayFields":
    {
      "pageName": {
      "type": "string",
      "required": "true"
      },
      "pageURL": {
        "type": "string",
        "required": "true"
      },
      "website": {
        "type": "belongsTo",
        "model": "website",
        "foreignKey": "website_id"
      },
      "editableFields": {
        "type": "[string]",
        "default": "[]"
      },
      "systemAdmin": {
        "type": "string",
        "default": "siteAdmin"
      },
      "siteAdmin": {
        "type": "belongsTo",
        "required": "true",
        "default": "everyone"
  }}}
</script>
