<script type="application/json" id="displayFields" async>
  {
    "displayFields": {
      "siteName": {
        "type": "string",
        "required": "true"
      },
      "siteURL": {
        "type": "string",
        "required": "true"
      },
      "siteAdmin": {
        "type": "belongsTo",
        "model": "siteAdmin",
        "foreignKey": "admin_id"
      },
      "webPages": {
        "type": ["string"],
        "default": "./index.html",
      },
      "systemAdmin": {
        "type": "string", //id's
        "default": []
      }
    }
  }
</script>
